.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #333;
  padding: 5px 10px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 550px
}

.header-nav a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s;
}

.header-nav a:hover,
.header-nav a.active {
  color: #ce9731;
  border-bottom: 2px solid #ce9731;
}